<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>http://lolapi.gadzina.biz/</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <ProjectGuid>03d04971-b655-4790-ad8f-d85d14c41a6a</ProjectGuid>
        <MSDeployServiceURL>ssl2.webio.pl:8172/msdeploy.axd?site=lolapi.gadzina.biz</MSDeployServiceURL>
        <DeployIisAppPath>lolapi.gadzina.biz</DeployIisAppPath>
        <RemoteSitePhysicalPath />
        <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>true</EnableMSDeployBackup>
        <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
        <UserName>lolapi.gadzina_dploy</UserName>
        <_SavePWD>true</_SavePWD>
        <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    </PropertyGroup>
</Project>